ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 15px 0 0 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

ul.pagination li a {
	border-radius: 5px;
}

ul.pagination li.active a {
	border-radius: 5px;
}

ul.pagination li.active a {
	background-color: #1d2d44;
	color: white;
}

ul.pagination li:not(.active) a:hover {background-color: #ddd;}

tr.archived {
	display: none;
}